@use 'header';
@use 'footer';
@use 'common';
@use 'variables' as v;

/**********************/
/*   contact form     */
/**********************/

.contact__pic {
    margin-top: 64px;
    div {
        max-width: 640px;
        margin: 0 auto;
    }
}

.contact__message {
    margin: 64px 0;
    letter-spacing: .3em;
    text-align: center;
}

.contact-form {
    padding: 10px 115px;
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;

    dt {
        width: 25%;
        letter-spacing: .3em;
        text-align: right;
        font-weight: normal;
        margin-bottom: 24px;
        span {
            color: red;
        }
    }
    dd {
        margin-left: 16px;
        width: calc(75% - 16px);
        border: 1px solid v.$line-color;
        margin-bottom: 24px;
        textarea {
            width: 100%;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn-wrap {
    margin: 64px 0;
    text-align: center;
}