/**********************/
/*       header       */
/**********************/
.header {
    height: 88px;
    border-bottom: 1px solid v.$line-color;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__list {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    li + li {
        margin-left: 32px;
    }
    a:hover {
        opacity: .8;
    }
}