@use 'variables' as v;

.works__message {
    letter-spacing: .2em;
    margin-top: 64px;
}

.works-wrap {
    padding: 64px 0;
    flex-direction: column;
    justify-content: space-between;
    // grid-template-rows: repeat(3, 1fr);
    // gap: 64px;
    // a {
    //     cursor: pointer;
    // }
    // a + a {
    //     margin-top: 64px;
    // }
}

.works__card {
    width: 80%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    a {
        cursor: pointer;
    }
    &:not(:nth-child(1)){
        margin-top: 64px;
    }
}

.works__card--pic {
    outline: 1px solid v.$line-color;
}

.works__card--text {
    letter-spacing: .2em;
    margin-top: 24px;
}

.work-list__pagination {
    text-align: center;
    margin-bottom: 64px;
    ul {
        display: flex;
        justify-content: center;
    }
    li + li {
        margin-left: 48px;
    }
    a:hover {
        color: v.$accent-color;
    }
}

.current {
    border-bottom: 1px solid v.$text-color;
}



/*              works details               */

.work__breadcrumbs {
    letter-spacing: .2em;
    margin-top: 64px;
    margin-bottom: 64px;
}

.pickup-slider {
    visibility: hidden;
    margin-bottom: 24px;
}
.pickup-slider.slick-initialized {
    visibility: visible;
}

.pickup-slider__item {
    margin: 0 32px;
    aspect-ratio: 3 / 2;
    max-height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.inner-wrapper {
    max-width: 640px;
    margin: 0 auto;
    letter-spacing: .2em;
    font-size: .8em;
}

.work-site__link{
    font-size: .8em;
    &:hover{
        color: v.$accent-color;
    }
}
.site-summery {
    padding: 32px 0;

    dt {
        margin-bottom: 8px;
    }

    dd {
        margin-bottom: 16px;
        margin-left: 2em;
    }
}

.single-page__navigation {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    letter-spacing: .2em;
    margin-top: 48px;
    margin-bottom: 24px;
}