@use 'common';
@use 'header';
@use 'footer';
@use 'contact';
@use 'variables' as v;

/**********************/
/*     main visual    */
/**********************/
.mainvisual {
    width: 100%;
    height: calc(100vh - 88px);
    min-height: 400px;
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: end;
}

.mainvisual__wrapper {
    max-width: 1000px;
    width: 100%;
    height: 40%;
    margin: 0 auto;
}

.site__title {
    text-align: right;

    &--main {
        font-size: 48px;
        line-height: 1;
        letter-spacing: .3em;
        font-weight: 600;
        font-style: normal;
        color: v.$accent-color;
        margin-bottom: 36px;
    }
    &--sub {
        color: v.$text-color;
        letter-spacing: .2em;
        line-height: 2em;
    }
}

/**********************/
/*       about        */
/**********************/
.about {
    text-align: center;
    padding: 64px 0; 
}

.about__text {
    margin: 64px 0;
    letter-spacing: .3em;
    line-height: 4em;               //figmaでは32pxやのになんで？
}


/**********************/
/*      service       */
/**********************/
.service {
    background: v.$bg-color;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.service__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;

    &--direction,
    &--design,
    &--coding {
        width: calc((100% - 100px) / 3);
    }
}

.service__title {
    margin-top: 48px;
    &--ja {
        color: v.$accent-color;
        font-size: 24px;
        line-height: 1;
        font-weight: 600;
        font-style: normal;
        letter-spacing: .2em;
    }
    &--en {
        margin-top: 16px;
        line-height: 1;
        letter-spacing: .2em;
    }
}

.service__text {
    margin-top: 48px;
    line-height: 2em;
    letter-spacing: .2em;
}


/**********************/
/*       works        */
/**********************/
.works {
    text-align: center;
    padding: 64px 0;
}

.works__text {
     margin-top: 64px;
     letter-spacing: .2em;
}

.works-contents {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.works-contents__figure {
    width: 30%;
}
